<!DOCTYPE html>
<html>
<head>
	<title>用户控制界面</title>
</head>
<body>
	<center>
	<form action="{% url 'led:add_led' user_id %}" method="post">
		{% csrf_token %}
		<input type="button" value="添加LED显示屏" onclick="submit()">
	</form>
	<br><br>
	<h3>所有LED信息：</h3>
	<table border="1">
		<tr>
			<th>LED名称</th>
			<th>LED地址</th>
		</tr>
		{% for led in led_list.lednumber_set.all %}
		<tr><td>{{led.led_text}}</td><td>{{led.address_text}}</td></tr>
		{% endfor %}
		<br>
	</table>
	<h3>选择想要操作的LED和对应操作：</h3>
	<form action="{% url 'led:led_operation' user_id %}" method="post">
		<h4>请选择想要操作的LED:</h4>
		{% csrf_token %}
		{% for led in led_list.lednumber_set.all %}
		<input type="radio" name="led_choice" value="{{led.id}}" ><label>{{led.led_text}}</label><br>
		{% endfor %}
		<h4>请选择所需要的操作</h4>
		<input type="radio" name="op" value="d" ><label>删除LED</label><br>
		<input type="radio" name="op" value="u"><label>修改LED信息</label><br>
		<input type="radio" name="op" value="l"><label>查看LED内容</label><br>
		<input type="radio" name="op" value="s"> <label>当前LED播放模式为：，修改播放模式</label><br>
	<input type="submit" value="确定">
</form>
</center>
</body>
</html>