<html>
 <head>
  <title>Document</title>
 </head>
 <body OnLoad="swapPic()">
  <script language="javascript" type="text/javascript">
  	console.log('js')
  	
  	var img_url = {{ urls|safe }};
  	console.log('imgurl')
  	console.log(img_url)
  	console.log(img_url);
    var ranl = 0;
    var useRand = 0;
    images = new Array;
    console.log('now add url')
    for(var i in img_url)
    {
    	console.log(i);
    	images[i] = new Image();
    	images[i].src = img_url[i];
    }

	function swapPic(){
	   var imgnum = images.length-1;
       do{
	    var randnum = Math.random();
		randl = Math.round((imgnum-1)*randnum)+1;
	   }while(randl==useRand);
        useRand = randl;
        document.randimg.src = images[useRand].src		
		setTimeout('swapPic()',2000);
	}
	
  </script>
  <img name ="randimg" src="images/pic.jpg">
 </body>
 </html>